<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body class="container">
		<header><%- include('../partials/header'); %></header>

		<main>
			<div class="container">
				<h1>Member Coalition For Cuteness: We Will ALL Be Petted!</h1>
				<div class="container">
        		</div>
				<div class="row justify-content-between">
          <!-- <img src="/images/example.png" class="img-fluid"> -->
		 
          <!-- YOUR EJS OR HANDLEBARS TEMPLATE LITERALS GO HERE -->
					<% employees.forEach(function(employee){ %>
						<p> <div class="card" style="width: 18rem;">
							<img src="<%= employee[1].picture %>" class="card-img-top" alt="...">
							<div class="card-body">
							  <p class="card-text"><%= employee[1].firstName %> <%= employee[1].lastName %></p>
							  <p class="card-text"><%= employee[1].email %></p>
							  <a class="btn btn-primary mtn-sm" href="directory/<%= employee[0]%>">View Profile</a><br><br>
							  <a class="btn btn-primary mtn-sm" href="update/<%= employee[0]%>">Edit Profile</a> 
							  <a class="btn btn-primary mtn-sm" href="delete/<%= employee[0]%>">Delete Profile</a>
							</div>
						  </div></p>
					<% }); %>
				</div>
			</div>
		</main>

		<footer><%- include('../partials/footer'); %></footer>
	</body>
</html>
